$cl_schema: (
    drk: #212121,
    drk_r: 33,
    drk_g: 33,
    drk_b: 33,

    bg: #282828,
    bg_r: 40,
    bg_g: 40,
    bg_b: 40,

    inactive_button_bg: #323232,
    active_button_bg: #383838,

    input_green: #96a791,
    input_red: #c0837e,

    fg: #e0e2db,
    fg_r: 224,
    fg_g: 226,
    fg_b: 219,

    gr: #6d6466,
    gr_r: 109,
    gr_g: 100,
    gr_b: 102,

    n_green: #5b7553,
    n_green_r: 91,
    n_green_g: 117,
    n_green_b: 83,

    h_green: #6d8c63,
    h_green_r: 109,
    h_green_g: 140,
    h_green_b: 99,

    n_red: #8c1c13,
    n_red_r: 140,
    n_red_g: 28,
    n_red_b: 19,

    h_red: #af2218,
    h_red_r: 175,
    h_red_g: 34,
    h_red_b: 24,

    n_yellow: #e6af2e,
    n_yellow_r: 230,
    n_yellow_g: 175,
    n_yellow_b: 46,

    h_yellow: #e5b442,
    h_yellow_r: 229,
    h_yellow_g: 180,
    h_yellow_b: 66,

    n_blue: #3d348b,
    n_blue_r: 61,
    n_blue_g: 52,
    n_blue_b: 139
)
