@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome/fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('font-awesome/fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('font-awesome/fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('font-awesome/fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: Inconsolata;
    src: url(fonts/Inconsolata-LGC.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
