html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: map-get($cl_schema, fg);
    text-shadow: 0 2px 0 rgba(map-get($cl_schema, fg_r),
                              map-get($cl_schema, fg_g),
                              map-get($cl_schema, fg_b),
                              0.07);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 50px 0 0 0;
    min-height: calc(100vh - 50px);

    // trick to make uniform textual layout
    line-height: 1.5;

    // letter-spacing: -1px;

    background-color: map-get($cl_schema, bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px 0;
}

ul {
    margin: 0;
    padding: 0;
}
