<section class="list-stats gl_blk-wrp">
    <div class="gl_blk lc_blk">
        <h6 class="list-stats-title">Statistics for the selected list of cards</h6>
        <ul class="list-stats-list">
            <li>Total amount of cards: <span id="list-stats-total"></span></li>
            <li>Percent of cards created by you: <span id="list-stats-created-by-you"></span></li>
            <li>Percent of cards that you know: <span id="list-stats-are-right"></span></li>
            <li>The card with the oldest date of revision: <span id="list-stats-oldest-revision"></span></li>
            <li>The card with the most recent date of revision: <span id="list-stats-recent-revision"></span></li>
            <li>Amount of cards to revise (all that weren't already revised today): <span id="list-stats-amount-to-revise"></span></li>
        </ul>
        <button type="button" class="revise-go-btn">Go!</button>
    </div>
</section>
