.revise-guts {
    display: none;

    .lc_blk-wrp {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .card-name_wrp {
        margin: 40px 0 0 0;

        cursor: default;

        label {
            font-size: 180%;
        }
    }

    .card-name_input {
        width: 100%;
        height: 40px;

        font-size: 180%;
        border-bottom: 2px solid map-get($cl_schema, fg);
    }

    .content_wrp {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        .stats_wrp {
            margin: 20px 0 0 20px;

            list-style: none;

            li {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
            }

            span {
                display: inline-block;
                margin-left: 20px;

                font-weight: 700;
            }
        }
    }

    .entries_wrp {
        margin: 20px 0 0 0;
        width: 100%;

        .entry {
            position: relative;

            width: 100%;

            box-shadow: 1px 1px 0px 2px map-get($cl_schema, drk);

            .textarea {
                position: relative;
                z-index: 10;

                box-shadow: none;
                border: 1px solid map-get($cl_schema, drk);

                textarea {
                    display: block;
                    overflow: hidden;

                    padding: 5px;
                    width: 100%;

                    font-size: 100%;
                    font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;

                    background-color: transparent;
                    border: 0px solid transparent;

                    resize: none;
                    pointer-events: none;
                }
            }

            .hint {
                position: absolute;
                top: 0;
                left: 1px;
                z-index: 9;

                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: flex-start;

                padding: 2px 9px 8px 9px;
                width: calc(100% - 2px);
                height: 31px;

                background-color: map-get($cl_schema, gr);

                transition: all .2s ease-in-out;

                cursor: pointer;
                pointer-events: none;

                i {
                    align-self: flex-end;
                }

                input {
                    width: 100%;
                    
                    color: map-get($cl_schema, fg);
                    background-color: transparent;
                    border: none;
                }

                &.lc_show {
                    transform: translate(0, -25px);

                    height: 47px;
                }
            }

            .entry-menu {
                position: absolute;
                top: 50%;
                right: -55px;
                transform: translate(0, -50%);

                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;

                opacity: 0;
                transition: all .2s linear;

                & > div {
                    width: 31px;
                }

                i {
                    font-size: 140%;

                    transition: all .1s linear;
                }

                .hidden-entry.is_visible {
                    i.visible {
                        display: initial;
                    }

                    i.invisible {
                        display: none;
                    }
                }

                .hidden-entry.is_invisible {
                    i.visible {
                        display: none;
                    }

                    i.invisible {
                        display: initial;
                    }
                }

                .type-entry.is_text {
                    i.text {
                        display: initial;
                    }

                    i.code {
                        display: none;
                    }
                }

                .type-entry.is_code {
                    i.text {
                        display: none;
                    }

                    i.code {
                        display: initial;
                    }
                }

                .delete, .hidden-entry, .type-entry, .hint-btn, .show-hidden, .rule-btn {
                    margin: 0 10px 0 0;
                    padding: 5px;

                    cursor: pointer;

                    &:hover {
                        i {
                            text-shadow: 0px 0px 1px map-get($cl_schema, fg);
                            transition: all .1s linear;
                        }
                    }
                }
            }

            &:hover {
                .entry-menu {
                    opacity: 1;
                    transition: all .2s linear;
                }
            }

            &.hidden-text, &.hidden-code {
                textarea:not(.shown) {
                    color: map-get($cl_schema, fg);
                }
            }

            &.prompt-text, &.prompt-code {
                .entry-textarea:not(.shown), .prompt-textarea:not(.shown) {
                    display: none;
                }

                .prompt-textarea.shown {
                    pointer-events: all;
                }
            }
        }

        .rule-btn {
            pointer-events: none;
        }

        [data-entry-rule="1"] .rule-btn {
            i.fa-gavel {
                display: none;
            }

            i.fa-puzzle-piece {
                display: none;
            }

            i.fa-birthday-cake {
                display: initial;
            }
        }

        [data-entry-rule="2"] .rule-btn {
            i.fa-gavel {
                display: none;
            }

            i.fa-puzzle-piece {
                display: initial;
            }

            i.fa-birthday-cake {
                display: none;
            }
        }

        [data-entry-rule="3"] .rule-btn {
            i.fa-gavel {
                display: initial;
            }

            i.fa-puzzle-piece {
                display: none;
            }

            i.fa-birthday-cake {
                display: none;
            }
        }

        .entry.open-text,
        .entry.hidden-text,
        .entry.open-code,
        .entry.hidden-code,
        .entry.prompt-text,
        .entry.prompt-code {
            margin: 10px 0 10px 0;
        }

        .entry.open-code textarea,
        .entry.hidden-code textarea {
            font-family: Inconsolata, monospace;
        }

        .entry.prompt-text,
        .entry.prompt-code {
            .entry-menu {
                right: -95px;
            }
        }

        .entry.prompt-code textarea {
            font-family: Inconsolata, monospace;
        }

        .entry.open-hint {
            margin: 30px 0 10px 0;

            transition: margin .2s ease-in-out;
        }
    }

    .revise-submit-btn {
        position: relative;

        align-self: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        margin: 10px 0 50px 20px;
        padding: 2px 7px;

        font-size: 140%;
        color: map-get($cl_schema, fg);
        background-color: map-get($cl_schema, inactive_button_bg);
        border: none;
        border-radius: 1px;
        box-shadow: 1px 1px 0px 1px map-get($cl_schema, drk);

        transition: all .1s linear;

        cursor: pointer;

        &:hover {
            background-color: map-get($cl_schema, active_button_bg);
            text-shadow: 0px 0px 1px map-get($cl_schema, fg);
            transition: all .1s linear;
        }

        &:active {
            position: relative;
            transform: translate(1px, 1px);

            background-color: map-get($cl_schema, active_button_bg);
            box-shadow: none;

            transition: all .1s linear;
        }
    }
}
