<section class="revise-guts gl_blk-wrp">
    <div class="gl_blk lc_blk">
        <div class="card-name_wrp">
            <label><i class="fa fa-id-card-o"></i></label><div class="card-name_input">New Card</div>
        </div>
        <div class="content_wrp">
            <div class="info_wrp">
                <div class="tags_wrp"></div>
                <ul class="stats_wrp">
                    <li>Created/Last edited on: <span id="card-stats-create-date"></span></li>
                    <li>Creator: <span id="card-stats-creator"></span></li>
                    <li>Last revised on: <span id="card-stats-revise-date"></span></li>
                    <li>How many people revised this: <span id="card-stats-count-seen"></span></li>
                    <li>How many people know this: <span id="card-stats-count-know"></span></li>
                </ul>
            </div>
            <div class="entries_wrp">
                <div class="no-entry"></div>
            </div>
            <button type="button" class="revise-submit-btn">Submit</button>
        </div>
    </div>
</section>
