<section class="sort-list gl_blk-wrp">
    <div class="gl_blk lc_blk">
        <div class="sort-btns_wrp">
            <div class="sort-create-new-to-old"><i class="fa fa-magic"></i><i class="fa fa-sort-numeric-desc"></i></div>
            <div class="sort-create-old-to-new"><i class="fa fa-magic"></i><i class="fa fa-sort-numeric-asc"></i></div>
            <div class="sort-edit-new-to-old active"><i class="fa fa-pencil"></i><i class="fa fa-sort-numeric-desc"></i></div>
            <div class="sort-edit-old-to-new"><i class="fa fa-pencil"></i><i class="fa fa-sort-numeric-asc"></i></div>
        </div>
    </div>
</section>
