<section class="card-guts gl_blk-wrp">
    <div class="gl_blk lc_blk">
        <div class="card-name_wrp">
            <label><i class="fa fa-id-card-o"></i></label><div class="card-name_input" contenteditable>New Card</div>
        </div>
        <div class="content_wrp">
            <div class="btns_wrp">
                <div class="checkboxes_wrp">
                    <input id="checkbox-private" type="checkbox"><label for="checkbox-private"><i class="fa fa-unlock-alt unlocked"></i><i class="fa fa-lock locked"></i><div class="tooltip-private">Make this card private to avoid it being shown in revisions for other users</div></label>
                    <input id="checkbox-hide-creator" type="checkbox"><label for="checkbox-hide-creator"><i class="fa fa-user unlocked"></i><i class="fa fa-user-secret locked"></i><div class="tooltip-hide-creator">Do not show who was this card created by</div></label>
                </div>
                <div class="new-entry-prompt"><i class="fa fa-question"></i></div>
                <div class="new-entry-text"><i class="fa fa-pencil"></i></div>
            </div>
            <div id="sortable" class="entries_wrp">
                <div class="no-entry"></div>
            </div>
        </div>
    </div>
</section>
