<nav class="navbar-wrp gl_blk-wrp">
    <div class="navbar gl_blk">
        <ul class="horizontal-menu">
            <li class="horizontal-menu_item"><a href="{% url 'new' %}" class="horizontal-menu_link">New Card</a></li>
            <li class="horizontal-menu_item"><a href="{% url 'list' %}" class="horizontal-menu_link">Edit Cards</a></li>
            <li class="horizontal-menu_item"><a href="{% url 'revise' %}" class="horizontal-menu_link">Revise</a></li>
            <li class="horizontal-menu_item"><a href="{% url 'profile' %}" class="horizontal-menu_link">Profile</a></li>
            <li class="horizontal-menu_item"><a href="{% url 'logout' %}" class="horizontal-menu_link">Logout</a></li>
        </ul>
    </div>
</nav>
