<section class="date-selector gl_blk-wrp">
    <div class="gl_blk lc_blk">
        <div class="date-selector-create_wrp">
            <i class="fa fa-magic"></i>
            <label class="l-from"><i class="fa fa-hourglass-start"></i></label><div class="date-selector_input gl_input"><input name="date-from" type="text" id="datepicker-create-from"></div>
            <label class="l-to"><i class="fa fa-hourglass-end"></i></label><div class="date-selector_input gl_input"><input name="date-to" type="text" id="datepicker-create-to"></div>
        </div>
        <div class="date-selector-edit_wrp">
            <i class="fa fa-pencil"></i>
            <label class="l-from"><i class="fa fa-hourglass-start"></i></label><div class="date-selector_input gl_input"><input name="date-from" type="text" id="datepicker-edit-from"></div>
            <label class="l-to"><i class="fa fa-hourglass-end"></i></label><div class="date-selector_input gl_input"><input name="date-to" type="text" id="datepicker-edit-to"></div>
        </div>
    </div>
</section>
